---
import Image from "astro/components/Image.astro";

import ImgCarro from "/public/imagens/carro1.png"
---

<div>
    <div class="foto">
       <Image src={ImgCarro} alt="Toyota Corolla" />
    </div>
    <div class="conteudo">
          <div class="cima">
            <div class="nome-carro">

            </div>
            <div class="valor-diario">

            </div>
            <div class="diaria">

            </div>
            <div class="valor-total">

            </div>
          </div>
          <div class="baixo">
            <div class="">

            </div>
          </div>
    </div>
</div>


</style>